h1{
    color: blue;
    font-size: 4rem;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
li{
 list-style: no;  
 font-size: 3rem;
 color: rgb(39, 19, 212); 
}
*{
    background-color: blueviolet;
}